.login-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    border: 1px solid black;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

  .google-login-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #98c4f3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.google-login-button img {
    width: 80px; /* Ajusta el tamaño del icono */
    height: 35px;
}