.register-container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: 40px;
}

h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
  color: #555555;
}

input {
  width: calc(100% - 16px);
  padding: 10px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.1);
}

input:focus {
  outline: none;
  box-shadow: inset 0px 2px 4px rgba(0,0,0,0.2);
}

button {
  width: calc(100% - 16px);
  padding: 12px;
  background-color: #28a745; /* Verde para diferenciar del login */
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.error {
  color: #dc3545;
  margin-top: 10px;
  font-size: 14px;
}
