<div class="container">
  <h2>Lista de Tecnologías</h2>
  <div class="tecnologias-container">
    <div class="tecnologia-card" *ngFor="let tecnologia of tecnologias">
      <img [src]="tecnologia.imagenUrl" [alt]="tecnologia.nombre">
      <h3>{{ tecnologia.nombre }}</h3>
      <p>{{ tecnologia.descripcion }}</p>
      <button (click)="eliminarTecnologia(tecnologia.id)">Eliminar</button>
      <a [routerLink]="['/editar-tecnologia', tecnologia.id]">
        <button>Editar</button>
      </a>
    </div>
  </div>
  </div>