<div class="container mt-5">
  <h2>Lista de Proyectos</h2>

  <!-- Verifica si hay proyectos -->
  <div *ngIf="proyectos.length > 0; else noProyectos">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Tecnologías</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Recorre la lista de proyectos -->
        <tr *ngFor="let proyecto of proyectos">
          <td>{{ proyecto.nombre }}</td>
          <td>{{ proyecto.descripcion }}</td>
          <td>{{ proyecto.estado }}</td>
          <td>{{ proyecto.fechaInicio }}</td>
          <td>{{ proyecto.fechaFin }}</td>
          <td>{{ proyecto.tecnologias?.join(', ') }}</td>
          <td>
            <button class="btn btn-sm btn-info me-2" (click)="verFacturas(proyecto.id)">Facturas</button>
            <!-- Enlace para editar -->
            <a [routerLink]="['/editar', proyecto.id]" class="btn btn-sm btn-info me-2">Editar</a>
            <!-- Botón para eliminar -->
            <button (click)="eliminarProyecto(proyecto.id)" class="btn btn-sm btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mensaje si no hay proyectos -->
  <ng-template #noProyectos>
    <p>No hay proyectos disponibles. Agrega uno nuevo.</p>
  </ng-template>

  <!-- Botón para crear un nuevo proyecto -->
  <a routerLink="/nuevo" class="btn btn-primary mt-3">Nuevo Proyecto</a>
</div>