<div class="container mt-2">
  <div class="row">
    <div class="col text-center">
      <h1>Proyectos</h1>
    </div>
  </div>
  <div class="text-center mt-2 mb-4">
    <a routerLink="/proyectos/nuevo" class="btn btn-success">Nuevo Proyecto</a>
  </div>
  <!-- Verifica si hay proyectos -->
  <div class="table-responsive" *ngIf="proyectos.length > 0; else noProyectos">
    <table class="table table-striped">
      <thead class="text-center">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Fecha Inicio</th>
          <th>Fecha Fin</th>
          <th>Tecnologías</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectos">
          <td>{{ proyecto.nombre }}</td>
          <td>{{ proyecto.descripcion }}</td>
          <td>
            <span [ngClass]="{
              'estado-completado': proyecto.estado === 'completado',
              'estado-pendiente': proyecto.estado === 'pendiente',
              'estado-en-proceso': proyecto.estado === 'en progreso',
              'estado-cancelado': proyecto.estado === 'cancelado'
              }">
              {{ proyecto.estado }}
            </span>
          </td>
          <td>{{ proyecto.fechaInicio }}</td>
          <td>{{ proyecto.fechaFin }}</td>
          <td>{{ proyecto.tecnologias?.join(', ') }}</td>
          <td>
            <div class="d-flex flex-wrap justify-content-center">
              <button class="btn btn-sm btn-secondary me-2" (click)="verFacturas(proyecto.id)">Facturas</button>
              <a [routerLink]="['/proyectos/editar', proyecto.id]" class="btn btn-sm btn-info me-2">Editar</a>
              <button (click)="eliminarProyecto(proyecto.id)" class="btn btn-sm btn-danger">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mensaje si no hay proyectos -->
  <ng-template #noProyectos>
    <p class="text-center">No hay proyectos disponibles. Agrega uno nuevo.</p>
  </ng-template>
